/* 申明变量*/

/* default colors */
$theme-color: #C00;
$font-color: #333;
$white-color: #FFF;
$black-color: #000;

/* text colors */
$text-color: #666;
$text-assist-color: #999;
$text-icon-color: #A8A8A8;
$text-light-color: #CCC;
$text-tip-color: #D66900;
$text-main-color: #000;

/* background colors */
$bg-color: #F5F5F9;
$bg-dark-color: #F7F7F7;
$bg-light-blue-color: #FAFCFF;
$bg-light-red-color: #F7EAEA;
$bg-tip-color: #FFDFC1;
$bg-link-color: #F2F8FC;
$bg-black-color: #565957;
$bg-blue-color: #8BC0FF;
$bg-form-color: #E7F0FA;
$bg-orange-color: #FFFCF9;
$bg-score-color: #F0F8FD;

/* border colors */
$bd-color: #E5E5E5;
$bd-dark-color: #E2E2E2;

/* assist colors */
$link-color: #0090FF;
$btn-disable-color: #EDA6A6;
$green-color: #009938;
$orange-color: #FF8500;
$blue-color: #0F6397;

/* Digital Ball专用颜色 */
$ball-red-color: #F11717;
$ball-green-color: #38BE4F;
$ball-blue-color: #0E86E3;
$ball-gray-color: #a3a3a3;

$issue-list-bg-color: #F2F5F8;
$issue-list-bd-color: #C1CADE;
$issue-list-text-color: #8F9AB5;

//走势图
$tableText: #9198AB;
$tableThBg: #E5E5E5;
$tableTdBg: #F8F8F8;
$tableBorder: #CDCDCD;
$btnDisable: #eee;